 

.phone_website{
    width: 300px;
    height: 80px;
    color: white;
    text-align: center;
    
    margin-top: 0.2rem;
    border-radius: 0.5rem;
    border: 2px solid bisque;
    background-color: #3d3d55;
}

.web{
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1.2rem;
}