.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.container>div{
    width: 280px;
    height: 380px;
    margin: 0.5rem;
    place-items: center;
    border-radius: 0.5rem;
    border: 2px solid #3d3d55; 
}

.card{
    display: flex;
    color: #3d3d55;
    font-size: 1rem;
    padding: 0.5rem;
    place-items: center;
    flex-direction: column;
}

h2,h2,h3{
    font-size: 1rem;
}

img{
    width: 150px;
    height: 150px;
    color: #3d3d55;
    border-radius: 50%;
}

.view_more{
    width: 120px;
    color: #fff;
    cursor:pointer ;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    height: fit-content;

    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    background-color: #3d3d55;
}

